.cart-page-container {

    padding-top: 48px;

}

.navbarlist {
    
    list-style-type: none;
    justify-content: left;
}

.item-navbar {
    color: black;
}

.centered-content {
    display: flex; 
    justify-content: center;
}

.returnDiv {
    display: flex; 
    justify-content: left;
}

.product-price-container{
    text-align: end;
}

.product-text-container{
    padding-top: 16px;
}

.product-text-subtext {
    font-size: 12px;
    color: grey;
}

.product-text-price {
    font-weight: bold;
}

.product-img-layout{
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.widthsetter {
    text-align: left; 
    width: 50%; 
    margin-top: 32px;
}

.header {
    padding-bottom: 24px
}

.goback {

    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_img {
    height: 80px;
    width: 80px;
}

.button {
    background-color:black; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 16px;
    border-radius: 8px;
  }
