.goback {

    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.returnDiv {
    display: flex; 
    justify-content: left;
}

.goback {

    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img{
    border-radius: 15px;
    max-width: 80%;
    height: auto;
}